.botao {
    color: var(--secondary-color);
    background-color: var(--terciary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    height: 30px;
    margin: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}

.botao:hover {
    transform: scale(1.1);
}