footer{
  background-color: var(--terciary-color);
  position: fixed;
  margin-top: auto;
  bottom: 0;
  width: 100%;  
  height: 60px;
  text-align: center;
  color: var(--secondary-color);
  font-weight: bold;
  border-top:2px solid var(--secondary-color) ;

}

footer p{
  margin-top: 20px;
}