.input_senha {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  margin: 0 auto;

}

.input_senha input {
  width: 100%;
  background-color: #141414;
  color: var(--secondary-color);
  border: 1px solid #2a2a2a;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-right: 30px;
  box-sizing: border-box;
  outline: none;
}

.input_senha span {
  position: absolute;
  right: 11px;
  color: #666666;
  cursor: pointer;
}